In [1]:
import pandas as pd
mydataset={
    'cars': ["BMW", "Volvo","Ford"],
    'passings': [3,7,2]
}
myvar=pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas as pd
mydataset={
    'cars': ["BMW", "Volvo","Ford"],
    'passings': [3,7,2],
    'Colours': ['Grey','','Yellow']
}
myvar=pd.DataFrame(mydataset)
print(myvar)

    cars  passings Colours
0    BMW         3    Grey
1  Volvo         7
2   Ford         2  Yellow

In [3]:
print(pd.__version__)

1.4.2

In [4]:
#create simple pandas series from a list:
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [5]:
#Creating own labels

import pandas as pd
a=[1,7,2,'']
myvar=pd.Series(a,index=['x','y','z','a'])
print(myvar)

x    1
y    7
z    2
a
dtype: object

In [6]:
#Creating own labels

import pandas as pd
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)
print(a[1])

x    1
y    7
z    2
dtype: int64
7

In [7]:
# create a simple pandas series from a dictionary
calories={'day1':420, 'day2':380, 'day3':390}

myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
# create a dataframe from a dictiona
calories={'day1':420, 'day2':380, 'day3':390}

myvar=pd.Series(calories)
myvar1=pd.DataFrame(myvar)
print(myvar1)

        0
day1  420
day2  380
day3  390

In [9]:
# create a dataframe from a dictiona
calories={'day1':420, 'day2':380, 'day3':390}

myvar=pd.Series(calories)
myvar1=pd.DataFrame(myvar,columns=['Calories'])
print(myvar1)

      Calories
day1       420
day2       380
day3       390

In [10]:
#create a dataframe using 2 series
data={
    'Calories':[420,380,390],
    'Duration':[50,40,45]
}
myvar=pd.DataFrame(data)
print(myvar)

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [11]:
#create a dataframe using 2 series
data={
    'Calories':[420,380,390],
    'Duration':[50,40,45]
}
myvar=pd.DataFrame(data)
print(myvar.Calories)

0    420
1    380
2    390
Name: Calories, dtype: int64

In [12]:
#return row0:
#refer to the rwo index:
print(myvar.loc[0])

Calories    420
Duration     50
Name: 0, dtype: int64

In [13]:
#return row1:
#refer to the rwo index:
print(myvar.loc[1])

Calories    380
Duration     40
Name: 1, dtype: int64

In [14]:
#return row1:
#refer to the rwo index:
print(myvar.loc[0:1])

   Calories  Duration
0       420        50
1       380        40

In [15]:
#add a list of names to give each row a name
data={
    'Calories':[420,380,390],
    'Duration':[50,40,45]
}
df=pd.DataFrame(data,index=[1.1,2.2,3.3])
print(df.loc[1.1])

Calories    420
Duration     50
Name: 1.1, dtype: int64

In [16]:
#opening a csv files
df=pd.read_csv(r"C:\Users\sevan\Desktop\data.csv")
print(df)

          Car  Mfg.year   Color
0         BMW    2020.0   Black
1        BENZ    2021.0    Blue
2        Audi    2019.0  Yellow
3  Honda city    2021.0    Pink
4      Santro       NaN    Gold
5        Ford    2007.0   Black
6     Mustang    2021.0     Red
7         BMW    2020.0   Black

In [17]:
#check the number of maximum rows computer can display
print(pd.options.display.max_rows)

60

In [18]:
#to create a layout for the the first 5 rows of df
df.head()

          Car  Mfg.year   Color
0         BMW    2020.0   Black
1        BENZ    2021.0    Blue
2        Audi    2019.0  Yellow
3  Honda city    2021.0    Pink
4      Santro       NaN    Gold

In [19]:
#to create a layout for the the last 5 rows of df
df.tail()

          Car  Mfg.year  Color
3  Honda city    2021.0   Pink
4      Santro       NaN   Gold
5        Ford    2007.0  Black
6     Mustang    2021.0    Red
7         BMW    2020.0  Black

In [20]:
df.shape

(8, 3)

In [21]:
df.columns

Index(['Car', 'Mfg.year', 'Color'], dtype='object')

In [22]:
#to find out duplicated rows in the csv, not columns
df.duplicated().sum()

1

In [23]:
df.isnull().sum()

Car         0
Mfg.year    1
Color       0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car       8 non-null      object
 1   Mfg.year  7 non-null      float64
 2   Color     8 non-null      object
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes

In [25]:
df.describe()

          Mfg.year
count     7.000000
mean   2018.428571
std       5.094348
min    2007.000000
25%    2019.500000
50%    2020.000000
75%    2021.000000
max    2021.000000